



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
}
h2{
    color: red;
    font-size: 2.3rem;
}
.menu{
    margin: 1.5rem;

}
.menu a{
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0 1.5rem;
    background-color: blue;
    color: white;
    padding: 8px;
    transition: all ease .1s;
}
.menu a:hover{
    padding-left: 0.5px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}
.store-item{
    width: 300px;
    padding: 1rem;
}
.store-item img{
    width: 100%;
    display: block;
    /* transition: all ease .1s; */


}
